@import "tailwindcss";

@theme {
  --color-primary: #030213;
  --color-secondary: oklch(0.95 0.0058 264.53);
  --color-foreground: oklch(0.145 0 0);
  --color-muted: #717182;
  --color-background: #ffffff;
  --color-accent: #e9ebef;
  --color-alert-error: #ef4444;
  --color-destructive: #d4183d;
  --color-border: rgba(0, 0, 0, 0.1);
  --color-input-background: #f3f3f5;
  --color-button-disabled: rgba(0, 0, 0, 0.4);
  --color-ring: oklch(0.708 0 0);
}

@layer base {
  html {
    font-size: 14px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
    border: none;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
  }
}
